<!doctype html>
{% load static %}
<html lang="ru" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- UIkit CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.9.4/dist/css/uikit.min.css"/>

    <link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}"/>
    <link href="{% static 'base.css' %}" rel="stylesheet">
    <title>{{ title }}</title>
</head>
<body>
<header id="top-head" class="uk-position-fixed">
    <div class="uk-container uk-container-expand uk-background-primary">
        <nav class="uk-margin" uk-navbar>
           
            <div class="uk-navbar-right">
                <ul class="uk-navbar-nav">
                    {% if request.user.is_authenticated %}
                        <li><a href="#" data-uk-icon="icon:user" title="Your profile" data-uk-tooltip></a></li>
                        <li><a href="#" data-uk-icon="icon: settings" title="Settings" data-uk-tooltip></a></li>
                        <li><a href="#" data-uk-icon="icon:  sign-out" title="Sign Out" data-uk-tooltip></a></li>
                    {% else %}

                        <li><a href="{% url 'login' %}" data-uk-icon="icon:  sign-out" title="Sign In"
                               data-uk-tooltip></a></li>
                    {% endif %}
                    <li><a class="uk-navbar-toggle" data-uk-toggle data-uk-navbar-toggle-icon href="#offcanvas-nav"
                           title="Offcanvas" data-uk-tooltip></a></li>
                </ul>
            </div>
        </nav>
    </div>
</header>

<div class="uk-text-center" uk-grid>
    <div id="left-col">
          {% include 'include/_header.html' %}
          {% include 'include/_nav.html' %}
    </div>
    <div id="content" data-uk-height-viewport="expand: true">
         {% block content %}CONTENT{% endblock %}
    </div>
</div>
{#{% include 'include/_header.html' %}#}
{##}
{##}
{#<div class="container-fluid h-100">#}
{#    <div class="row h-100">#}
{#        {% include 'include/_nav.html' %}#}
{#                <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">#}
{#                    {% block content %}CONTENT{% endblock %}#}
{#                </main>#}
{#    </div>#}
{#</div>#}
{#<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"#}
{#        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"#}
{#        crossorigin="anonymous"></script>#}

<!-- UIkit JS -->
<script src="https://cdn.jsdelivr.net/npm/uikit@3.9.4/dist/js/uikit.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/uikit@3.9.4/dist/js/uikit-icons.min.js"></script>
</body>
</html>
