<div class="left-logo uk-flex uk-flex-middle uk-container">
    <a class="uk-logo" href="#">
        <img class="custom-logo" src="../static/ninja.png" alt="">
    </a>
    <div>
        Ninja Garden
    </div>
</div>