<ul class="uk-nav-primary uk-nav-parent-icon uk-nav-default" uk-nav>
    <li class="{{ active_class_sh }}">
        <a href="{% url 'shedule' %}">Расписание</a>
    </li>
    <li class="{{ active_class_ch }}">
        <a href="{% url 'child' %}">Дети</a>
    </li>
    <li class="{{ active_class_pr }}">
        <a href="{% url 'register' %}">Родители</a>
    </li>

</ul>