{% extends 'base.html' %}

{% block title %}
    {{ title }} :: {{ block.super }}
{% endblock %}

{% block content %}
    <div class="uk-container uk-container-expand">
            {% for item in childs %}
                <div class="uk-card uk-card-default uk-grid-collapse uk-margin">
                    <div class="uk-card-header">
                        <div class="uk-grid-small uk-flex-middle" uk-grid>
                            <div class="uk-width-auto">
                                <img width="100" height="100" alt="..." src="{{ item.photo.url }}">
                            </div>
                            <div class="uk-width-expand">
                                <h3 class="uk-card-title uk-margin-remove-bottom">{{ item.title }}</h3>
                                <p class="uk-text-meta uk-margin-remove-top">
                                    <time datetime="2018-04-01T19:00">{{ item.date_of_birth }}</time>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="uk-card-body">
                        <p>{{ item.comment }}</p>
                    </div>
                    <div class="uk-card-footer">
                        <a href="#" class="uk-button uk-button-text">Ссылка</a>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
