#top-head {
	z-index: 9;
	top: 0;
	left:0;
	right:0;
}
/* Smaller Header */
.uk-navbar-nav > li > a,
.uk-navbar-item,
.uk-navbar-toggle {
	/* navbar height */
  min-height: 52px;
  padding: 0 8px;
  font-size: 0.85rem;
}

#left-col {
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    overflow-x: hidden;
    overflow-y: auto;
    background-color: #222A30;
    width: 240px;
    z-index: 2;
    transition: height 0.3s ease-out;
}

.custom-logo {
	height: 32px;
}
.uk-background-primary{
    background-color: #222A30;
}

#content {
	margin-top: 52px;
	padding: 30px 0 0 0;
	background-color: #f7f7f7;
	margin-left: 0;
	transition: margin 0.2s cubic-bezier(.4,0,.2,1);
}

@media screen and (min-width: 960px){
	#content {
		/* equal to left-col width */
		margin-left: 280px;
	}
	#top-head {
		/* equal to left-col width */
		left:280px;
	}
}
